<a class = "citation link" type="button" data-toggle="collapse" data-target="#citation-<%= id %>" onclick="toggleCitation('<%= id %>')">
	<span id="citation-<%= id %>-show">
			[show citation]
	</span>
	<span id="citation-<%= id %>-hide" style="display:none;">
			[hide citation]
	</span>
</a>