<div class = "container">
	<div class = "row">
		<div class = "col-sm-8 col-xs-12">


			<h1>About</h1>

			<p>I smoked for 20 years but now I vape. VapeRater was born out of the difficulties I encountered in putting together a vaping system that really worked for me. I knew they were out there but I had so many questions. Which products work together? Why would I choose one tank or battery over another? What manufacturers are reliable? Can I put a part from manufacturer A with one from manufacturer B? What are the health risks and benefits of switching? Where is the science? I found my answers, but it took a few iterations of my kit and a lot of digging through academic, government and industry publications.
			</p>
			<p>
				Now I must admit that I tend to be a bit of a geek. The hobby aspect of vaping really appeals to me now, but it wasn't until I had a satisfying kit that I could begin to enjoy adding to it. When I was starting I was constantly irritated when products underperformed because cigarettes were my only fallback position and I was sick of smoking. Here at VapeRater, we want to help new users skip over the iteration steps and get a kit that works for them from the start. 
			</p>
			<p>
				My geekiness also expressed itself in the desire to read dense academic material about the current state of the science around vaping. To help all of you who would only consider this kind of reading as a sleep aid, we have collected articles and written pithy little descriptions of each. Periodically, we will be blogging about what's new and happening in the vaping industry. We will also be linking to stories in the traditional news media on our News page.
			</p>
			<p>
				Welcome to VapeRater! Take a look around, we welcome your feedback.
			</p>
			<p>
				Thanks!
			</p>
			<%= image_tag "ken_sig_large.png", size: "250x50" %>
			<h3>Ken Harsch</h3>
			Founder, VapeRater
		</div>
	</div>
</div>
<br />
<br />