<div class = "container">
	<div class = "row">
		<div class = "col-sm-8 col-xs-12">
			<h1>News</h1>
			<p>
				Here at the news division of VapeRater, we are committed to providing you with blogs about and links to the most current articles published by media outlets. For purely scholarly articles, check our our Science! section. Below each link we give a quick rundown of the content of the article. Found an article that we might be interested in? Send it along to news@vaperater.com. Thanks!
			</p>
			<p>
				Full versions of material cited here are available in our Science! section.
			</p>
			<strong>
				<a href= "http://www.nytimes.com/2014/03/24/business/selling-a-poison-by-the-barrel-liquid-nicotine-for-e-cigarettes.html" class= "link">
					Selling a Poison by the Barrel: Liquid Nicotine for E-Cigarettes
				</a>
				<br />
				Matt Richtel, New York Times
			</strong>
			<p>
				Excellent read about the dangers of nicotine bases. Be careful handling your juice and ALWAYS keep it out of reachof children. Nicotine is acutely toxic and your little 5ml bottle could contain as much as 150mg of nicotine (at 30mg/ml). The lethal dose for adults is 30-60mg and for children it is 10mg(Cameron, et al (2014)).
			</p>

			<strong>
				<a href="http://www.businessweek.com/articles/2014-02-06/e-cigarettes-fda-regulation-looms-for-1-dot-5-billion-industry" class = "link">
					E-Cigarettes: A $1.5 Billion Industry Braces for FDA Regulation
				</a>
				<br />
				Megan McArdle, Bloomberg Businessweek
			</strong>
			<p>
				An excellent, in-depth look at the vaping industry and the challenges it faces.

				http://www.businessweek.com/articles/2014-02-06/e-cigarettes-fda-regulation-looms-for-1-dot-5-billion-industry
			</p>

			<strong>
				<a href="http://www.latimes.com/science/sciencenow/la-sci-sn-why-tom-frieden-hates-electronic-cigarettes-cdc-20140429,0,4147326.story" class="link">
					CDC director explains what he hates about electronic cigarettes
				</a>
				<br />
				Karen Kaplan, L.A. Times
			</strong>
			<p>
				

				Director of the CDC, Dr. Tom Frieden, thinks e-cigarettes do more harm than good. His view is that vaping is not as good as quitting and he has reservations about the marketing of vaping products. He does admit that "stick to stick, they're almost certainly less toxic than cigarettes."

				
			</p>
			<strong>
				<a href="http://www.webmd.com/smoking-cessation/news/20140103/e-cigarettes-separating-fiction-from-fact" class="link" >
					
					E-Cigarettes: Separating Fiction From Fact
				</a>
				<br />
				Serena Gordon, HealthDay Reporter
			</strong>
			<p>
				This story, from WebMD gives a good, easy to read rundown on e-cigs and quitting smoking. Basically, nothing definitive on the issue of overall safety.

				
			</p>
		</div>
	</div>
</div>
<br />
<br />