<div class = "container">
	<div class = "row">
		<div class = "col-sm-8 col-xs-12">

			<h1>Science!</h1>
			<br />

			<p>
				Welcome to OurVapes Science! We at OurVapes are committed to providing the latest scientifically defensible information about the health effects of vaping. This space is reserved for peer reviewed academic articles and information and data from government agencies. We do our best to stay current, but if you find something new and sciency, let us know.
			</p>
			<br />

			<strong>
				<a href = "http://ntr.oxfordjournals.org/content/16/1/108.full" class = "link">
					Pilot Investigation of Changes in Readiness and Confidence to Quit Smoking after E-cigarette Experimentation and 1 Week of Use
				</a>
				<p>
				Theodore L. Wagener, Ellen Meier, Jessica J. Hale, Elisha R. Oliver, Maggie L. Warner, Leslie M. Driskill, Stephen R. Gillaspy, Michael B. Siegel, Steven Foster
				</p>
			</strong>
			<p>
				This was a small study of 30 smokers who identified themselves as not interested in quitting. They were introduced to e-cigs and given a week's supply to take home. After using e-cigs for a week, they showed a higher readiness and confidence to quit. They also showed a reduction of their regular cigarette consumption.
			</p>
			<%= render "science_citation", id: "pilot" %>
			<br />
			<div id = "citation-pilot" class = "citation collapse out">
				Wagener, Theodore L., et al. "Pilot Investigation of Changes in Readiness and Confidence to Quit Smoking After E-cigarette Experimentation and 1 Week of Use." Nicotine & Tobacco Research 16.1 (2014): 108-114.
			</div>
			<br />



			<strong>
				<a href="http://www.cdc.gov/mmwr/preview/mmwrhtml/mm6313a4.htm" class = "link">
					Notes from the Field: Calls to Poison Centers for Exposures to Electronic Cigarettes—United States, September 2010–February 2014.
				</a>
				<p>
					Kevin Chatham-Stephens, Royal Law, Ethel Taylor, Paul Melstrom, Rebecca Bunnell, Baoguang Wang, Benjamin Apelberg, Joshua G. Schier
				</p>
			</strong>
			<p>
				This oft-cited study indicates a significant rise in the calls to poison control centers for nicotine exposure. The concentrated nicotine in the juice can be dangerous if not handled properly. Never drink the liquid and keep it away from children.
			</p>
			<%= render "science_citation", id: "notes-from-the-field" %>
			<br />
			<div id = "citation-notes-from-the-field" class = "citation collapse out">
				Chatham-Stephens, Kevin, et al. "Notes from the Field: Calls to Poison Centers for Exposures to Electronic Cigarettes—United States, September 2010–February 2014." MMWR. Morbidity and mortality weekly report 63.13 (2014): 292-293.
			</div>
		<br />


			<strong>
			<a href="" class= "link">
					Variable and potentially fatal amounts of nicotine in e-cigarette nicotine solutions.
				</a>
				<p>
				Jennifer M. Cameron, Donelle N. Howell, John R. White, David M. Andrenyak, Matthew E. Layton, John M. Roll
				</p>
			</strong>
			<p>
				This is a great brochure-length discussion of nicotine toxicity. IMPORTANT: The fatal dose of nicotine in adults is 30 - 60 milligrams in adults and 10 milligrams in children. So if you vape 30mg/ml juice your 5ml dropper bottle contains150 mg of nicotine, well over the fatal dose. Be careful and keep your supplies out of reach of children.
			</p>
			<%= render "science_citation", id: "potentially-fatal" %>
			<br />
			<div id = "citation-potentially-fatal" class = "citation collapse out">
				Cameron, Jennifer M., et al. "Variable and potentially fatal amounts of nicotine in e-cigarette nicotine solutions." Tobacco control 23.1 (2014): 77-78.
			</div>
			<br />

			<strong>
			<a href = "http://www.biomedcentral.com/content/pdf/1940-0640-8-5.pdf" class = "link">
			Perceived efficacy of e-cigarettes versus nicotine replacement therapy among successful e-cigarette users: a qualitative approach
			</a>
			<p>
			Amanda M. Barbeau, Jennifer Burda, Michael Siegel
			</p>
			</strong>
			<p>
				Great article about how vapers feel about switching from cigs to vaping. The authors identify the things that make us love vaping - the bio-behavioral feedback (nerd speak for throat hit), social benefits of being in the vaping community, hobby elements (we do love our gear) and personal identity(have I mentioned that I am a vaper?).
			</p>
			<%= render "science_citation", id: "perceived-efficacy" %>
			<br />
			<div id = "citation-perceived-efficacy" class = "citation collapse out">
				Barbeau, Amanda M., Jennifer Burda, and Michael Siegel. "Perceived efficacy of e-cigarettes versus nicotine replacement therapy among successful e-cigarette users: a qualitative approach." Addict Sci Clin Pract 8.1 (2013): 5.
			</div>

		</div>
	</div>
	<br />
	<br />
