<%= stylesheet_link_tag "product_list_entry" %>

<div class = "col-md-2 left_filters" style="background-color:white;border:1px solid black;border-radius:5px;">
	<div class = "row filter_indent compatibility_filt">
	</div>
	<div class = "row filter_indent">
		<dl>
			<dt>Product Type</dt>
			<% ["all_types", "mouthpiece", "tank", "wick", "button", "battery", "charger"].each do |type| %>
			<dd><%= radio_button_tag :prod_type, type, class: "type_list" %><%= label :prod_type, type, class: "type_list" %></dd>
			<% end %>
		</dl>
	</div>
	<div class = "row filter_indent last">
	</div>
</div>
<div id="product-list">
<%= render "product_list/list" %>
</div>