<h1 class = "center">All Parts</h1>

<div class = "container-fluid center">
	<% @all_prods.each do |prod| %>
	<div class = "row">
		<%= render "product_list_entry", {prod: prod} %>
	<div class = "col-sm-2">
		<%= button_to "Add", {action: "add", controller: "configuration", conf: @conf_objects, add_type: prod.type.downcase, add_id: prod.id}, class: "btn btn-primary btn-block"%>
	</div>
	</div>
	<% end %>
</div>