<h1 class = "center">All Parts</h1>

<div class = "container-fluid center">
	<% @prods.each do |prod| %>
	<div class = "row">
		<%= render 'shared/product_list_entry', prod: prod, pic_width: 2, details_width: 9 %>
		<div class = "col-sm-1">
			<%= render 'shared/add_product_button', prod: prod%>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-12">
			<hr>
		</div>
	</div>
	<% end %>
</div>