<% if @checker.pair_compat_conflicts.any?%>
<% @checker.pair_compat_conflicts.each do |message| %>
<div class = "row bg-danger compat-message">
	<%= message %>
</div>
<% end %>
<% end %>

<% if @checker.pair_works_badly_conflicts.any? %>

<% @checker.pair_works_badly_conflicts.each do |message| %>
<div class = "row bg-warning compat-message">
	<%= message %>
</div>
<% end %>

<% end %>

<% if @checker.pair_works_badly_conflicts.empty? && @checker.pair_compat_conflicts.empty? && session[Constants::SESS_MY_CONFIG].size >= 2 %>
<div class = "row bg-success compat-message">
	all selected parts work well with each other
</div>
<% end %>