<% if @checker.pair_compat_conflicts.any? %>
<% @checker.pair_compat_conflicts.each do |message| %>
<div class = "col-xs-12 bg-danger compat-message">
	<%= message %>
</div>
<% end %>
<% end %>

<% if @checker.pair_works_badly_conflicts.any? %>

<% @checker.pair_works_badly_conflicts.each do |message| %>
<div class = "col-xs-12 bg-warning compat-message">
	<%= message %>
</div>
<% end %>

<% end %>

<% if @checker.pair_works_badly_conflicts.empty? && @checker.pair_compat_conflicts.empty? %>
<div class = "col-xs-12 bg-success compat-message">
	No conflicts!
</div>
<% end %>