<h1>Configuration</h1>
<br />
<div>
	<% @partslist.each do |part| %>
		<h2> <%= part.capitalize %>
			<%= @kit[part] %>
			<% if !@kit[part].nil? %>
				<%= button_to "Remove", "/configuration" + create_kit_url(params["kit"],part), :method => :post  %>
			<% end %>
		</h2>
	<% end %>
</div>