/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#parts-list
{
	display:inline-block;
	border:3px solid;
	border-radius:25px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

#configurator div
{
	margin-top:3px;
	margin-bottom:3px;
}

#configurator .btn-size
{
	width:5em;
}


.compat-message
{
	border-radius:25px;
	font-weight:bold;
}
.compat-message.bg-danger
{
	color: #7A0000;
	background-color: #FA9193;
}
.compat-message.bg-warning
{
	color: #8A680A;
	background-color: #FFFD9C;
}
.compat-message.bg-success
{
	color: #0A7D21;
	background-color: #A4F294;
}
.product-tile
{
	border:3px solid;
	border-radius:5px;
	border-color: #7B8F8F;

	vertical-align: center;

}


.center
{
	text-align: center;
	padding: 10px;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 500px;
    height: 500px;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.product_image{
	display: table;
    margin: 0 auto;

	width: 70%;
}